@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --clr-1: rgb(48, 48, 48);
  --clr-2: rgb(34, 34, 34);
  --clr-3: rgb(107, 203, 202);
  --clr-4: rgb(233, 233, 233);
  --clr-5: rgb(232, 76, 61);
  --clr-6: rgb(115, 207, 213);
  --clr-7: rgb(238, 238, 238);
  --clr-8: rgb(51, 51, 51);
  --first-font: "Arial, Helvetica, sans-serif";
  --second-font: "calibri";
  --third-font: "Poppins";
  --fourth-font: "Roboto";
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fourth-font);
}

a {
  text-decoration: none;
  color: #fff;
}

.fname {
  color: var(--clr-3);
}

.lname {
  color: #fff;
}

.lastOne {
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
}

header {
  margin: 0 auto;
  background-color: var(--clr-2);
}

.header-container {
  width: 65%;
  height: 20vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-head {
  margin: 0 auto;
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topheader-container {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  margin-bottom: 30px;
}

.low-head {
  width: 100%;
  flex: 2;
}

.menu-items {
  display: flex;
  flex-direction: row;
  background-color: var(--clr-3);
  justify-content: flex-start;
  align-items: stretch;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.menu-items > div {
  padding: 20px 10px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.6px;
  transition: all 0.3s ease-in;
}

.menu-items > div:hover {
  background-color: #fff;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
}

.menulist:hover {
  color: rgba(0, 0, 0, 0.8);
}

.menu-items > *:nth-child(1):hover {
  border-top-left-radius: 7px;
}

.featured {
  width: 100%;
  background-color: var(--clr-4);
  margin: 0 auto;
  min-height: 75vh;
}

.featured-container {
  width: 65%;
  margin: 0 auto;
  padding: 20px 0;
}

.breakingNews {
  background-color: rgba(107, 203, 202, 0.2);
  padding: 17px 5px;
  /* position: relative; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  font-size: 0.9rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.breakAlert {
  /* position: absolute;
  right: 10px;
  bottom: 6px; */
  background: var(--clr-5);
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  font-family: arial-narrow;
  margin-right: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.fa-thumbs-up {
  font-size: 1.3rem;
}

.newsUpdate {
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.6);
  font-style: italic;
}

.slider {
  width: 65%;
  min-height: 50vh;
  max-height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 5;
}

.slider-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  position: absolute;
  transition: all 0.5s ease-in-out;
  animation: fadding 0.25;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.px-left {
  flex: 2.5;
}

.slider-contents {
  flex: 1.5;
  padding: 10px 15px;
  background-color: #fff;
}

.myImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-img {
  transition: 0.3s ease-in;
}

.post-img:hover {
  border: 5px solid var(--clr-3);
  transform: scale(1.02);
}

.slider-title {
  font-family: var(--second-font);
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--clr-6);
  text-align: center;
}

.slider-title h2 a {
  color: var(--clr-3);
}

.dotted-dashed {
  width: 100%;
  /* height: 100px; */
  border-top: 5px dashed var(--clr-7);
  padding: 10px 0;
  margin-top: 20px;
}

.btn {
  text-transform: capitalize;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--clr-3);
  padding: 8px;
  margin-top: 20px;
  font-size: 1rem;
  color: #fff;
}

.box-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.sliding-box {
  width: 20px;
  height: 20px;
  background-color: #fff;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%;
}

@keyframes fading {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

/*Main content */
.fullPage-container {
  width: 65%;
  min-height: 50vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  padding: 15px 0;
}

.main-content {
  flex: 5;
}

.sidebar {
  flex: 2;
}

.topHeader {
  display: flex;
  flex-direction: row;
  background-color: var(--clr-8);
  min-height: 7vh;
  max-height: 70vh;
  align-items: center;
}

.topHeader h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 0 10px;
}

.search-form {
  margin-left: auto;
}

.navBtn {
  padding: 10px;
  text-transform: uppercase;
  outline: none;
  border: none;
  background-color: var(--clr-8);
  font-size: 1em;
  font-weight: bold;
}

.popular-btn > * {
  color: var(--clr-3);
}

.view-btn > * {
  color: #fff;
  background-color: var(--clr-3);
}

.topHeader > *:nth-child(3) {
  background-color: #000;
  min-height: 100% !important;
}

form input {
  background-color: #000;
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: 1rem;
  color: #fff;
  font-style: italic;
  padding-top: 15px;
}

input::placeholder {
  color: #868383;
  transform: translateY(-6px);
}

.post-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainPost-container {
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: all 0.5s ease-in-out;
}

.post-image,
.post-content {
  flex: 1;
  height: 220px;
}

.post-content {
  padding: 20px;
}

.post-titles h1 a {
  font-size: 1.2rem;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.9);
  transition: all 0.6s ease-in-out;
}

.post-titles h1 a:hover {
  color: var(--clr-3);
}

.post-desc {
  margin: 15px auto;
  font-size: 0.95rem;
  color: rgba(0, 0, 0, 0.8);
}

.post-essentials {
  display: flex;
  flex-direction: row;
  color: gray;
  font-size: 0.8rem;
}

.comments {
  margin-left: auto;
}

.comments > * {
  padding: 0 5px;
}

/*social media*/
.socialMedia {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  font-size: 3rem;
  padding: 30px 0;
}

#facebook,
#footer-facebook {
  color: rgba(16, 148, 244, 0.8);
}

#facebook:hover,
#footer-facebook:hover {
  color: rgba(16, 148, 244, 1);
}

#instagram,
#footer-instagram {
  color: rgba(247, 14, 69, 0.8);
}

#instagram:hover,
#footer-instagram:hover {
  color: rgb(247, 14, 69);
}

#youtube,
#footer-youtube {
  color: rgba(255, 0, 0, 0.8);
}

#youtube:hover,
#footer-youtube:hover {
  color: rgb(255, 0, 0);
}

#twitter,
#footer-twitter {
  color: rgb(29, 155, 240, 0.8);
}

#twitter:hover,
#footer-twitter:hover {
  color: rgba(29, 155, 240, 1);
}

.footer-right {
  font-size: 1.8rem;
}

.footer-left {
  font-weight: 500;
  font-size: 0.9rem;
}

/* end of social media styling */
.box-space {
  height: 250px;
  width: 100%;
  background-color: var(--clr-3);
  color: #fff;
  display: grid;
  place-items: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.ad-space1 {
  font-size: 2.5rem;
}

.ad-space2 {
  font-size: 3.5rem;
}

/* Labels */
.labels-container {
  padding: 30px 0;
}

.label-select {
  padding: 5px 15px;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

.label-select:hover {
  background-color: rgba(107, 203, 202, 0.3);
  cursor: pointer;
}

.navBtn:hover {
  cursor: pointer;
}

.read-more {
  width: 100%;
  text-align: center;
}

.moreBtn {
  outline: none;
  border: none;
  background-color: var(--clr-3);
  color: #fff;
  font-size: 1.2rem;
  padding: 10px 35px;
}

.moreBtn:hover {
  background-color: rgb(3, 88, 3);
  cursor: pointer;
}

/* footer elements */

.footer-container {
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 20px;
}

.footer-contents {
  width: 65%;
  min-height: 10vh;
  max-height: 30vh;
  margin: 0 auto;
  font-family: var(--third-font);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: var(--clr-3);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0 20px;
}

.footer-right {
  margin-left: auto;
}

/* BLOG Page */
.mainPostTwo {
  width: 100%;
  min-height: 70vh;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.posting-meta {
  margin: 10px 20px;
  font-size: 0.8rem;
}

.postDate {
  margin-left: 20px;
}

.full-content {
  margin-top: 30px;
  line-height: 1.5rem;
}

.inside-image {
  margin: 0 auto;
  text-align: center;
  margin: 15px 0;
}

.article-image {
  width: 98%;
  height: 90%;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 8px;
  border: 5px solid var(--clr-3);
}

/* hamburger menu */
.hamburger {
  margin-left: auto;
  display: none;
}

.box {
  width: 25px;
  height: 5px;
  margin: 5px 0;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 992px) {
  .low-head {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hamburger {
    display: block;
    padding-bottom: 20px;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  .active .box1 {
    transform: translateY(8px) rotate(45deg);
  }

  .active .box2 {
    opacity: 0;
  }

  .active .box3 {
    transform: translateY(-12px) rotate(-45deg);
  }

  .menu-items {
    position: fixed;
    top: 20vh;
    width: 100%;
    display: flex;
    left: -100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    transition: 0.5s;
    padding: 10px 0;
  }

  .menu-items > div {
    padding: 15px 50%;
  }

  .menu-items.active {
    left: 0;
  }

  .top-head {
    text-align: center;
  }

  .featured-container {
    width: 95%;
  }

  .slider {
    width: 95%;
  }

  .slider-title h2 {
    font-size: 1rem;
  }

  .description {
    font-size: 0.8rem;
  }

  .readmore-btn {
    visibility: hidden;
  }

  .box-container {
    padding-bottom: 20px;
  }

  .fullPage-container {
    width: 95%;
    flex-direction: column;
  }

  .topHeader {
    flex-direction: column;
    padding: 10px 0;
  }

  .topHeader > div {
    padding: 5px 0;
  }

  .search-form {
    display: none;
  }
  .mainPost-container {
    flex-direction: column;
    width: 95%;
  }

  .main-content,
  .sidebar {
    flex: 1;
  }

  .topHeader {
    width: 100%;
  }

  .sidebar {
    width: 100%;
  }

  .footer-container {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .header-container,
  .featured-container,
  .slider,
  .fullPage-container,
  .footer-container {
    width: 95%;
  }

  .footer-contents {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .slider {
    min-height: 80vh !important;
    max-height: 100vh !important;
  }
  .slider-container {
    flex-direction: column;
  }

  .breakingNews {
    flex-direction: column;
  }
}

@media screen and (min-width: 460px) {
  .readmore-btn {
    visibility: visible;
  }
}
